@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Inconsolata|PT+Sans');

body {
  background-color: #DADADA;
}

.navbar {
  background-color: #1E88E5 !important;
  font-family: 'Cormorant Garamond', serif;
}

.noteNavbar {
  background-color: #1E88E5 !important;
  font-family: 'Cormorant Garamond', serif;
}

.renderFolders {
  color: black;
}

.noteNavbar button {
  display: none !important;
}

.authForm {
  padding: 120px;
}

.signupButton {
  padding: 8px;
  background-color: #1E88E5;
  color: white;
  margin-right: 15px;
  border-radius: 5px;
  border: none;
}

.signupCancelButton {
  padding: 10px;
  background-color: #F44336;
  color: white;
  margin-right: 15px;
  border-radius: 5px;
  border: none;
}

.signupCancelButton:hover {
  text-decoration: none;
  color: white;
}

.authButtons {
  color: white !important;
  margin-top: 5px !important;
  background-color: #1E88E5 !important;
}

.stylingDiv {
  background-color: #272726;
  border-radius: 5px;
  padding: 5px;
  border: none;
  width: 330px;
}

.noteStylingButtons {
  background-color: #272726;
  color: white;
  padding: 10px;
  border: none;
}

.noteColorButtons {
  background-color: #272726;
  color: white;
  padding: 10px;
  border: none;
}

.square {
  padding: 5px 15px 5px 10px;
  border-radius: 50%;
}

.editorButtonStyling {
  padding: 20px 0px; 
  position: fixed; 
  bottom: 0; 
  width: 100%;
}

.noteStylingButtons:hover {
  color: #1E88E5 !important;
}

.noteColorButtons:hover {
  color: #1E88E5 !important;
}

.noteBottomButtons {
  margin-right: 15px !important;
}

.noteBottomButtons * {
  color: white !important;
}

.noteBottomButtons button {
  background-color: #1E88E5 !important;
  color: white !important;
  margin-right: 15px !important;
  border-radius: 5px !important;
}

.title {
  font-size: 90px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  color: white;
  padding-top: 200px;
}

.tagline {
  font-size: 55px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  color: white;
  margin-top: 90px;
}

.background {
  margin-top: -20px;
  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.authButtons:hover {
  font-weight: bold !important;
  background-color: white !important;
  border: solid 1px white;
  border-radius: 3px;
  color: #1E88E5 !important;
}

.folderView {
  float: left;
  display: inline-block;
}

.folder {
	display:inline-block;
	position:relative;
	width:3.5em;
  margin: 50px;
	border-bottom:1em solid #1E88E5;
	border-right:.5em solid transparent;
}

.folderName {
  color: black;
  margin-left: 48px
}

.folder:before {
	/*middle level*/
	content:"\2585"; /*this is the secret, shhhhhh*/
	text-indent:-0.05em;
	font-size:6em;
	color:#1E88E5;
	line-height:.2em;
	position:absolute;
	overflow:visible;
	width:.87em;
	left:.05em;
	top:0.1em;
	background:#fff;
	transition:.218s ease;
}

.folder:after{
	/*highest level*/
  content:"";
	position:absolute;
	width:3.5em;
	top:.3em;
	right:-3em;
	border-bottom:1em solid #1E88E5;
	border-left:.5em solid transparent;
}

.folder:hover:before{
	line-height:.4em;
	top:0;
}

/* Notes */


/* Keyframes for the fade-in */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.autoSave p {
  color: gray;
  font-size: 12px;
  -webkit-animation: animation: fadeIn 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: animation: fadeIn 6s; /* Firefox < 16 */
        -ms-animation: animation: fadeIn 6s; /* Internet Explorer */
         -o-animation: animation: fadeIn 6s; /* Opera < 12.1 */
            animation: animation: fadeIn 6s;
}

.note {
  background-color: #fff;
  height: 200px;
  padding: 20px;
  width: 150px;
  display: inline-block;
  position: relative;
  margin: 30px;
  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, .3),
    3px 3px 0 #fff, 4px 4px 0 rgba(0, 0, 0, .2),
    6px 6px 0 #fff, 7px 7px 0 rgba(0, 0, 0, .1),
    9px 9px 0 #fff, 10px 10px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, .3),
    3px 3px 0 #fff, 4px 4px 0 rgba(0, 0, 0, .2),
    6px 6px 0 #fff, 7px 7px 0 rgba(0, 0, 0, .1),
    9px 9px 0 #fff, 10px 10px 0 rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .3),
    3px 3px 0 #fff, 4px 4px 0 rgba(0, 0, 0, .2),
    6px 6px 0 #fff, 7px 7px 0 rgba(0, 0, 0, .1),
    9px 9px 0 #fff, 10px 10px 0 rgba(0, 0, 0, .1);
}

.noteView {
  height: 100%;
  width: 100%;
  padding: 50px 100px 100px 100px;
  margin-top: -20px;
  background-color: white;
}

.editNoteBlock {
  padding: 10px !important;
  border: solid 1px black !important;
  height: 600px;
  background-color: #EBEBEB;
}

.addInputField {
  background-color: white !important;
  padding: 10px !important;
  margin: 0 !important;
  margin-right: 40px !important;
  border-radius: 3px !important;
}

.addInputField div hr {
  width: 92% !important;
}

.inputForm {
  max-height: 50px;
  position: relative;
  margin: 0 !important;
  display: block;
}

/* COLORS */
.red {
  background-color: #FC2F35;
}

.blue {
  background-color: #2196F3;
}

.violet {
  background-color: #673AB7;
}

.green {
  background-color: #21B725;
}

.orange {
  background-color: #FC5830;
}

.teal {
  background-color: #1DE9B6;
}

.cyan {
  background-color: #00BCD4;
}


/*--------------------
Shared Variables
--------------------*/
/*--------------------
General
--------------------*/
html,
body {
  font-size: 100%;
  height: 100%;
  color: #282c37;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

header {
  z-index: 2;
  -webkit-transform: translate(0, 5.5em);
          transform: translate(0, 5.5em);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
header.header-slide {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

h1 {
  font-weight: 100;
  font-size: 1.4em;
  display: block;
}

.form-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 476px) {
  .form-container {
    border: none;
  }
}

.cardinfo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.bg-illustration {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.bg-illustration svg {
  width: 100%;
}

.card-shape, #my-sample-form.visa, #my-sample-form.master-card, #my-sample-form.maestro, #my-sample-form.american-express, #my-sample-form.discover, #my-sample-form.unionpay, #my-sample-form.jcb, #my-sample-form.diners-club {
  border-radius: 6px;
  padding: 2em 2em 1em;
}
@media (max-width: 476px) {
  .card-shape, #my-sample-form.visa, #my-sample-form.master-card, #my-sample-form.maestro, #my-sample-form.american-express, #my-sample-form.discover, #my-sample-form.unionpay, #my-sample-form.jcb, #my-sample-form.diners-club {
    padding: 2em 1.5em 1em;
  }
}

#my-sample-form {
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  padding: 8em 3em 2em;
  width: 20em;
  margin-bottom: 2em;
  -webkit-transition: all 600ms cubic-bezier(0.2, 1.3, 0.7, 1);
  transition: all 600ms cubic-bezier(0.2, 1.3, 0.7, 1);
  -webkit-animation: cardIntro 500ms cubic-bezier(0.2, 1.3, 0.7, 1);
          animation: cardIntro 500ms cubic-bezier(0.2, 1.3, 0.7, 1);
  z-index: 1;
}
#my-sample-form:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}
@media (max-width: 476px) {
  #my-sample-form {
    box-sizing: border-box;
    padding: 7em 2em 2em;
    width: 100%;
  }
}
#my-sample-form.visa {
  color: #fff;
  background-color: #0D4AA2;
}
#my-sample-form.master-card {
  color: #fff;
  background-color: #363636;
  background: -webkit-linear-gradient(335deg, #d82332, #d82332 50%, #f1ad3d 50%, #f1ad3d);
  background: linear-gradient(115deg, #d82332, #d82332 50%, #f1ad3d 50%, #f1ad3d);
}
#my-sample-form.maestro {
  color: #fff;
  background-color: #363636;
  background: -webkit-linear-gradient(335deg, #009ddd, #009ddd 50%, #ed1c2e 50%, #ed1c2e);
  background: linear-gradient(115deg, #009ddd, #009ddd 50%, #ed1c2e 50%, #ed1c2e);
}
#my-sample-form.american-express {
  color: #fff;
  background-color: #007CC3;
}
#my-sample-form.discover {
  color: #fff;
  background-color: #ff6000;
  background: -webkit-linear-gradient(#d14310, #f7961e);
  background: linear-gradient(#d14310, #f7961e);
}
#my-sample-form.unionpay, #my-sample-form.jcb, #my-sample-form.diners-club {
  color: #fff;
  background-color: #363636;
}

.cardinfo-label {
  display: block;
  font-size: 11px;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.cardinfo-exp-date {
  margin-right: 1em;
  width: 100%;
}

.cardinfo-cvv {
  width: 100%;
}

#button-pay {
  cursor: pointer;
  width: 16em;
  font-size: 15px;
  border: 0;
  padding: 1.2em 1em;
  color: #fff;
  background: #282c37;
  border-radius: 4px;
  z-index: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all 500ms cubic-bezier(0.2, 1.3, 0.7, 1);
  transition: all 500ms cubic-bezier(0.2, 1.3, 0.7, 1);
  opacity: 0;
  -webkit-appearance: none;
}
#button-pay:hover {
  background: #535b72;
}
#button-pay:active {
  -webkit-animation: cardIntro 200ms cubic-bezier(0.2, 1.3, 0.7, 1);
          animation: cardIntro 200ms cubic-bezier(0.2, 1.3, 0.7, 1);
}
#button-pay.show-button {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.cardinfo-card-number {
  position: relative;
}

#card-image {
  position: absolute;
  top: 2em;
  right: 1em;
  width: 44px;
  height: 28px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/346994/card_sprite.png);
  background-size: 86px 458px;
  border-radius: 4px;
  background-position: -100px 0;
  background-repeat: no-repeat;
  margin-bottom: 1em;
}
#card-image.visa {
  background-position: 0 -398px;
}
#card-image.master-card {
  background-position: 0 -281px;
}
#card-image.american-express {
  background-position: 0 -370px;
}
#card-image.discover {
  background-position: 0 -163px;
}
#card-image.maestro {
  background-position: 0 -251px;
}
#card-image.jcb {
  background-position: 0 -221px;
}
#card-image.diners-club {
  background-position: 0 -133px;
}

/*--------------------
Inputs 
--------------------*/
.input-wrapper {
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.86);
  height: 2.75em;
  border: 1px solid #eee;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);
  padding: 5px 10px;
  margin-bottom: 1em;
}

.cardinfo-card-number,
.cardinfo-exp-date,
.cardinfo-cvv {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.braintree-hosted-fields-focused {
  border-color: #5db6e8;
}

.braintree-hosted-fields-invalid {
  border-color: #E53A40;
  -webkit-animation: shake 500ms cubic-bezier(0.2, 1.3, 0.7, 1) both;
          animation: shake 500ms cubic-bezier(0.2, 1.3, 0.7, 1) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

/*--------------------
Animations
--------------------*/
@-webkit-keyframes cardIntro {
  0% {
    -webkit-transform: scale(0.8) translate(0, 0);
            transform: scale(0.8) translate(0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    opacity: 1;
  }
}
@keyframes cardIntro {
  0% {
    -webkit-transform: scale(0.8) translate(0, 0);
            transform: scale(0.8) translate(0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}
@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(1px, 0, 0);
            transform: translate3d(1px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-3px, 0, 0);
            transform: translate3d(-3px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(3px, 0, 0);
            transform: translate3d(3px, 0, 0);
  }
}

}

.form-container {
    border: 0px !important;
}

textarea, input { outline: none; }

section#folders-nav {
    display: inline-block;
    position: relative;
    top: 14px;
    right: 20px;
}

.navbar button {
    display: none !important;
}

span#tittle {
    cursor: pointer;
}

.navbar {
    margin-bottom: 0px;
}

.bee {
  position: absolute;
  top: 150px;
  left: 270px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-animation: move 5s;
  animation: move 5s;
}

.bee-body {
  width: 150px;
  height: 200px;
  border-radius: 50%;
  background-color: #f5cc69;
  position: relative;
}

.antena {
  width: 20px;
  height: 50px;
  border-radius: 50%;
  border-right: 2px solid #232323;
  position: absolute;
  top: -30px;
  left: 45px;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  z-index: -1;
}

.top {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #232323;
  position: absolute;
  top: -5px;
  left: 7px;
}

.top-right {
  top: 10px;
  left: 55px;
}

.antena-right {
  -webkit-transform: rotate(200deg);
  transform: rotate(200deg);
  left: 80px;
}

.eye {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #232323;
  position: absolute;
  left: 50px;
  top: 25px;
  -webkit-animation: face 6s;
  animation: face 6s;
}

.eye-right {
  left: 90px;
}

.smile {
  width: 40px;
  height: 30px;
  border-bottom: 2px solid #232323;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 55px;
  -webkit-animation: face 6s;
  animation: face 6s;
}

.mouth {
  width: 20px;
  height: 13px;
  background-color: #232323;
  position: absolute;
  left: 10px;
  top: 30px;
  border-radius: 10% 10% 50% 50%;
  -webkit-animation: mouth 6s;
  animation: mouth 6s;
}

.stripe {
  width: 148px;
  height: 15px;
  background-color: #232323;
  border-radius: 40% 40% 10% 10%;
  position: absolute;
  top: 80px;
  left: 1px;
  opacity: .80;
}

.stripe-bottom {
  top: 120px;
  width: 145px;
  left: 3px;
  border-radius: 30% 30% 100% 100%;
}

.wings {
  height: 150px;
  width: 70px;
  background-color: white;
  border-radius: 50%;
  opacity: .70;
  position: absolute;
  top: 40px;
  left: -40px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  z-index: -1;
  -webkit-animation: fly 2s infinite;
  animation: fly 2s infinite;
}

.wings-right {
  left: 123px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -webkit-animation: fly-2 2s infinite;
  animation: fly-2 2s infinite;
}

.stinger {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #232323;
  position: absolute;
  top: 193px;
  z-index: -1;
  left: 55px;
}

.trail {
  width: 6px;
  height: 350px;
  border-left: 4px dashed gray;
  position: absolute;
  opacity: .30;
  top: 305px;
  left: 151px;
  z-index: -2;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-animation: trail 6s;
  animation: trail 6s;
}

.talk {
  position: absolute;
  left: 371px;
  top: 210px;
  -webkit-animation: speech 9s;
  animation: speech 9s;
}

.bubble {
  width: 200px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  position: relative;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid white;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  position: absolute;
  top: 85px;
  left: -15px;
}

.bubble h2 {
    font-family: 'ABeeZee', sans-serif;
    font-color: #232323;
    position: absolute;
    top: 42px;
    left: 34px;
}

.contain {
    position: relative;
    top: 100px;
    z-index: -1;
    left: -100px;
}

@-webkit-keyframes move {
  0% {
    top: 200%;
    left: -100%;
  }
  50% {
    -webkit-transform: rotate(0deg) rotateY(180deg);
  }
}
@-webkit-keyframes fly {
  50% {
    top: 0px;
    -webkit-transform: rotate(70deg);
  }
}
@-webkit-keyframes fly-2 {
  50% {
    top: 0px;
    -webkit-transform: rotate(-70deg);
  }
}
@-webkit-keyframes speech {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-webkit-keyframes face {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@-webkit-keyframes mouth {
  0% {
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 100;
    height: 13px;
  }
}
@-webkit-keyframes trail {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: .30;
  }
}
@keyframes move {
  0% {
    top: 200%;
    left: -100%;
  }
  50% {
    transform: rotate(0deg) rotateY(180deg);
  }
}
@keyframes fly {
  50% {
    top: 0px;
    transform: rotate(70deg);
  }
}
@keyframes fly-2 {
  50% {
    top: 0px;
    transform: rotate(-70deg);
  }
}
@keyframes speech {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes face {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes mouth {
  0% {
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 100;
    height: 13px;
  }
}
@keyframes trail {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: .30;
  }
}
.donate-text {
  margin-top:300px;
}

.donation-form input {
    padding: 5px;
}

input[type="submit"] {
    display: block;
    width: 150px;
    margin: auto;
    border: none;
    margin-top: 20px;
    background: #F5CC69;
    border-radius: 90px;
}

.form-container {
    padding-top: 150px;
}
>>>>>>> payment
