body {
  background-color: #DADADA;
}

.navbar {
  background-color: #03A9F4 !important;
}

.authButtons {
  color: white !important;
  margin-top: 5px !important;
}

.authButtons:hover {
  font-weight: bold !important;
  background-color: white !important;
  border: solid 1px white;
  border-radius: 3px;
  color: #1EAAF1 !important;
}

.folderView {
  float: left;
  display: inline-block;
}

.folder {
	display:inline-block;
	position:relative;
	width:3.5em;
  margin: 50px;
	border-bottom:1em solid #03A9F4;
	border-right:.5em solid transparent;
}

.folderName {
  color: black;
  margin-left: 48px
}

.folder:before {
	/*middle level*/
	content:"\2585"; /*this is the secret, shhhhhh*/
	text-indent:-0.05em;
	font-size:6em;
	color:#03A9F4;
	line-height:.2em;
	position:absolute;
	overflow:visible;
	width:.87em;
	left:.05em;
	top:0.1em;
	background:#fff;
	transition:.218s ease;
}

.folder:after{
	/*highest level*/
  content:"";
	position:absolute;
	width:3.5em;
	top:.3em;
	right:-3em;
	border-bottom:1em solid #03A9F4;
	border-left:.5em solid transparent;
}

.folder:hover:before{
	line-height:.4em;
	top:0;
}

/* Notes */

.note {
  background-color: #fff;
  height: 200px;
  padding: 20px;
  width: 150px;
  display: inline-block;
  position: relative;
  margin: 30px;
  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, .3),
    3px 3px 0 #fff, 4px 4px 0 rgba(0, 0, 0, .2),
    6px 6px 0 #fff, 7px 7px 0 rgba(0, 0, 0, .1),
    9px 9px 0 #fff, 10px 10px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, .3),
    3px 3px 0 #fff, 4px 4px 0 rgba(0, 0, 0, .2),
    6px 6px 0 #fff, 7px 7px 0 rgba(0, 0, 0, .1),
    9px 9px 0 #fff, 10px 10px 0 rgba(0, 0, 0, .1);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .3),
    3px 3px 0 #fff, 4px 4px 0 rgba(0, 0, 0, .2),
    6px 6px 0 #fff, 7px 7px 0 rgba(0, 0, 0, .1),
    9px 9px 0 #fff, 10px 10px 0 rgba(0, 0, 0, .1);
}

.noteView {
  height: 100%;
  padding: 50px 100px 100px 100px;
  margin-top: -20px;
  background-color: white;
}

.editNoteBlock {
  padding: 10px !important;
  border: solid 1px black !important;
}

.addInputField {
  background-color: white !important;
  padding: 10px !important;
  margin: 0 !important;
  margin-right: 40px !important;
  border-radius: 3px !important;
}

.addInputField div hr {
  width: 92% !important;
}

.inputForm {
  max-height: 50px;
  position: relative;
  margin: 0 !important;
  display: block;
}
